
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&display=swap');


*{margin: 6;
padding: 0;
box-sizing: border-box;
font-family: "Signika Negative", sans-serif;


}





body{
    background: #000;
    overflow-x: hidden;
    color: white;
}

/*logotipo*/

.box
{
    position: relative;
    width: 72px;
    height: 62px;
    background: #02182b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.box::after{
    content: '';
    position: absolute;
    width: 72px;
    height: 62px;
    background-image: conic-gradient(transparent,transparent,transparent,#0197f6);
    animation: animatelogo 4s linear infinite;
    animation-delay: 2s;
}

.box::before{
    content: '';
    position: absolute;
    width: 72px;
    height: 62px;
    background-image: conic-gradient(transparent,transparent,transparent,#0197f6);
    animation: animatelogo 4s linear infinite;
}

@keyframes animatelogo{
    0%{
        transform: rotate(0deg);
        }

    100%{
        transform: rotate(360deg);
        }
}

.box span{

    position: absolute;
    inset: 1px;
    border-radius: 5px;
    background: #02182b;
    
    z-index: 1;
}

/*logotipo fim



/*cabeçalho*/
#barra{
    background:transparent ;
    box-shadow: 8px 8px 32px 0 rgba(11, 11, 234, 0.4);
    backdrop-filter: blur(0.5px);
    border-bottom:solid 2px #0197f6;
}

#t1,#t2,#t3,#t4,#t5{
    color: #0197f6;
    padding :20px;
}
#t6{
    background: #0197f6;
    color: #059ffe;
    border-radius: 50%;
    border: solid 3px #059ffe ;

}

#t1:hover{
    color: #3ddb84;
}
#t2:hover{
    color: #3ddb84;
}
#t3:hover{
    color: #3ddb84;
}
#t4:hover{
    color: #3ddb84;
}
#t5:hover{
    color: #3ddb84;
}


/*fim cabeçacho*/

#home{

    z-index: 100;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    align-items: center;
}


/* letras animadas */
#h2{

    position : relative;
    font-size: 80px;
    color: #000;
    z-index: 1;
    
}
    
#h2::before{

    content:attr(data-text);
    position:absolute;
    color:#0197f6;
    width:170px;
    height: 100px;
    overflow: hidden;
    white-space:nowrap ;
    border-right: 4px solid #0197f6;
    animation:animateletra 8s linear infinite;
    filter: drop-shadow(0 0 20px #059ffe);
    z-index: 1;
    
}
    /*fim letras animadas*/

    /*letras span inicio*/  

.auto-type1{

    color: #0197f6;
}


    /*letras span FIM*/  

    /* inicio vidro*/

.vidro{
margin-top: 0;
background: #E7ECEF;
z-index:1;
box-shadow: 2px 2px 5px 3px #059ffe;
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border-top: 3px solid #0197f6;
border-bottom: 3px solid #0197f6;
color: #000;
}

#cardvidro{
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
}
/*final vidro*/



/*começo habilidades*/

#habilidades-container{

    width:98%;
    box-shadow: 0 8px 32px 10px   rgba(11, 11, 234, 0.3);
    padding: 30px;
    height: 700px;
    cursor: pointer;
    
    
}



.menu-btn {
    position:relative;
    top:50%; left:50%;
    transform:translate(-50% , -50%);
    width:200px;
    height:200px;
    border-radius:50%;
    text-align:center;
    z-index:1;
    transition:.6s;
    background-image:url(imagens/fotohabilidades1.png) ;
    background-color: #000;
    background-size: cover;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    
    
    
}



.menu-btn.shadow { 
    background-color:black;
}





.menu-element {
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50% , -50%);
    width:58px;
    height:58px;
    text-align:center;
    justify-content: center;
    align-items: end;
    display: flex;
    border-radius:3%;
    transition:.2s;
}

.rotate {
    transform:rotate(45deg);
    transition:.3s;
    text-align:center
}
/*lado direito*/
#d1 {border-bottom:solid 2px darkturquoise;}
#d2 {border-bottom:cornflowerblue solid 2px}
#d3 {border-bottom:deepskyblue solid 2px}
#d4 {border-bottom:green solid 2px}
#d5 {border-bottom:gold solid 2px}
#d6 {border-bottom:blueviolet solid 2px}
#d7 {border-bottom:orangered solid 2px}
#d8 {border-bottom:orchid solid 2px}
#d9 {border-bottom:darkmagenta solid 2px}
#d10 {border-bottom:darkkhaki solid 2px}
/*lado esquerdo*/
#e1 {border-bottom:red solid 2px;}
#e2 {border-bottom:limegreen solid 2px;}
#e3 {border-bottom:yellowgreen solid 2px;}
#e4 {border-bottom:blue solid 2px;}
#e5 {border-bottom:gray solid 2px;}
#e6 {border-bottom:limegreen solid 2px;}
#e7 {border-bottom:pink solid 2px;}
#e8 {border-bottom:hotpink solid 2px;}
#e9 {border-bottom: aqua solid 2px;}
#e9 {border-bottom: darkred solid 2px;}
#e10{border-bottom: darkcyan solid 2px;}




/*movimento lado direito*/
.md1 {
    transform:translate(120%, -70%);
    width:100px ;
    transition:1.1s;
    
}

.md2 {
    transform:translate(-50%,-300%);
    width:110px ;  
    transition:1.5s;
}
.md3 {
    transform: translate(150%, 200%);
    width:110px ;
    transition:.8s;
}

.md4 {
    transform: translate(150%,-300%);
    width:110px ;
    transition:2.2s;
}
.md5 {
    transform: translate(280%, 280%);
    width: 100px;
    height: 25px;
    transition:1.6s;
}

.md6 {
    transform: translate(280%, -300%);
    width: 100px;
    height: 25px;
    transition:.9s;
}

.md7 {
    transform: translate(330%, 900%);
    width: 100px;
    height: 25px;
    transition:3.2s;
}

.md8 {
    transform: translate(320%, -900%);
    width: 100px;
    height: 25px;
    transition:2.7s;
}

.md9 {
    transform: translate(430%, -40%);
    width: 100px;
    height: 25px;
    transition:.7s;
}

.md10 {
    transform: translate(-50%, -500%);
    width: 100px;
    transition:3.7s;
}


/*movimento lado esquerdo*/
.me1 {
    transform:translate(-220%, -60%);
    width:100px ;
    transition:.4s;
}
.me2 {
    transform:translate(-50%, 200%);
    width:110px ;  
    transition:.8s;
}
.me3 {
    transform: translate(-250%, 200%);
    width:110px ;
    transition:1.9s;
}

.me4 {
    transform: translate(-250%,-300%);
    width:110px ;
    transition:1s;
}
.me5 {
    transform: translate(-380%, 280%);
    width: 100px;
    height: 25px;
    transition:2s;
}

.me6 {
    transform: translate(-380%, -250%);
    width: 100px;
    height: 25px;
    transition:1.3s;
}

.me7 {
    transform: translate(-420%, 900%);
    width: 100px;
    height: 25px;
    transition:1.6s;
}

.me8 {
    transform: translate(-420%, -900%);
    width: 100px;
    height: 25px;
    transition:1.8s;
}

.me9 {
    transform: translate(-530%, -40%);
    width: 100px;
    height: 25px;
    transition:2.8s;
}

.me10 {
    transform: translate(-50%, 390%);
    width: 100px;
    transition:3.1s;

}



/*habilidade FIM*/


/*certficados*/

#certificados{
    
    margin-top: 100px;
    margin-bottom: 300px;
    align-items: center;
    justify-content: center;
    height: 500px;
}


/*projetos titulo*/

.projetos{
    
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top: -300px;
    
}

.projetosh2{
    background: #000;
    padding-top: 0;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0px rgba(199, 199, 204, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 2px solid white;
    
}




/*projetos html/css titulo*/

.projetos-html-h2-container{
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
    
}

.projetos-html-h2{
    background:black ;
    width: 280px;
    border-radius:4px;
    
    border-left: 2px solid red;
    border-right: 2px solid #048ccc;
    border-top: 2px solid red;
    border-bottom: 2px solid #048ccc;
}

#html1{
    color:red;
}

#html2{
    color:#048ccc;
}

#html3{
    color: #048ccc;
}


/*projetos html/css titulo  FIM ....*/


/*projetos html/css container*/

#projeto-html{

    margin-top: 50px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    border-left: 2px solid red;
    border-right: 2px solid #048ccc;
    border-top: 2px solid red;
    border-bottom: 2px solid #048ccc;

}


#cardh1,#cardh2,#cardh3,#cardh4{
    
    height:310px;
    width: 215px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: #000;
    cursor: pointer;
    

    border-left: 2px solid red;
    border-right: 2px solid #048ccc;
    border-top: 2px solid red;
    border-bottom: 2px solid #048ccc;
}

/*projetos html/css container FIM...*/


/*projeto javascript TITULO..*/

.projetos-javascript-h2-container{
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
}

.projetos-javascript-h2{
    background: #000;
    width: 260px;
    border-radius:4px;


    border-left: 2px solid yellow;
    border-right: 2px solid gray;
    border-top: 2px solid yellow;
    border-bottom: 2px solid gray;  
    color: yellow;
}

#java{
    color: gray;

}

/*projeto javascript TITULO FIM..*/



/*projetos javascript container*/

#projeto-javascript{

    margin-top: 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    
    
    border-left: 2px solid yellow;
    border-right: 2px solid gray;
    border-top: 2px solid yellow;
    border-bottom: 2px solid gray;
}


#cardj1,#cardj2,#cardj3,#cardj4{
    
    height:310px;
    width: 210px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: #000;
    cursor: pointer;


    border-left: 2px solid yellow;
    border-right: 2px solid gray;
    border-top: 2px solid yellow;
    border-bottom: 2px solid gray;
}




/*projeto andorid TITULO..*/

.projetos-android-h2-container{
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
}

.projetos-android-h2{
    background: #000;
    width: 270px;
    border-radius:4px;


    border-left: 2px solid  #6c2c7b;
    border-right: 2px solid  #3e89ef;
    border-top: 2px solid  #6c2c7b;
    border-bottom: 2px solid  #3e89ef;  
    color:  #3e89ef;
}

#android{
    color:  #6c2c7b;

}

/*projeto android TITULO FIM..*/



/*projetos android container*/

#projeto-android{

    margin-top: 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    
    border-left: 2px solid  #6c2c7b;
    border-right: 2px solid  #3e89ef;
    border-top: 2px solid  #6c2c7b;
    border-bottom: 2px solid  #3e89ef;
}


#carda1,#carda2,#carda3,#carda4{
    
    height:310px;
    width: 210px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background: #000;
    cursor: pointer;


    border-left: 2px solid  #6c2c7b;
    border-right: 2px solid  #3e89ef;
    border-top: 2px solid  #6c2c7b;
    border-bottom: 2px solid  #3e89ef;
}

/*projetos android container FIM*/



/*projeto python TITULO..*/

.projetos-python-h2-container{
    width: 100%;
    height: 60px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
   
}

.projetos-python-h2{
    background: #000;
    height: 40px;
    width: 190px;
    border-radius:4px;
    padding-top:0;



    border-left: 2px solid  #ffca00;
    border-right: 2px solid    #1581a8;
    border-top: 2px solid  #ffca00;
    border-bottom: 2px solid    #1581a8;  
    color:  #1581a8;
}

#python{
    color:#ffca00;

}

/*projeto android TITULO FIM..*/



/*projetos python container*/

#projeto-python{

    margin-top: 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    
    border-left: 2px solid  #ffca00;
    border-right: 2px solid  #1581a8;
    border-top: 2px solid  #ffca00;
    border-bottom: 2px solid   #1581a8;
}


#cardp1,#cardp2,#cardp3,#cardp4{
    
    height:310px;
    width: 210px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: #000;
    cursor: pointer;


    border-left: 2px solid  #ffca00;
    border-right: 2px solid   #1581a8;
    border-top: 2px solid  #ffca00;
    border-bottom: 2px solid  #1581a8;
}

/*projetos python container FIM*/







/*projeto em C TITULO..*/

.projetos-cm-h2-container{
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
}

.projetos-cm-h2{
    background: #000;
    width: 270px;
    border-radius:4px;


    border-left: 2px solid     #273493;
    border-right: 2px solid #ffffff;
    border-top: 2px solid      #273493;
    border-bottom: 2px solid #ffffff;  
    color:  #273493;
}

#cm{
    color:  #ffffff;

}

/*projeto em C TITULO FIM..*/



/*projetos em C container*/

#projeto-cm{

    margin-top: 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    
    border-left: 2px solid  #273493;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid  #273493;
    border-bottom: 2px solid   #ffffff;
}


#cardcm1,#cardcm2,#cardcm3,#cardcm4{
    
    height:310px;
    width: 210px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: #0c0c0c;
    cursor: pointer;
    


    border-left: 2px solid  #273493;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid    #273493;
    border-bottom: 2px solid    #ffffff;
}

/*projetos em C container FIM*/



/*projeto c++ TITULO..*/

.projetos-cmm-h2-container{
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
}

.projetos-cmm-h2{
    background: #000;
    width: 270px;
    border-radius:4px;


    border-left: 2px solid     #659bd3;
    border-right: 2px solid #ffffff;
    border-top: 2px solid      #659bd3;
    border-bottom: 2px solid #ffffff;  
    color:  #659bd3;
}

#cmm{
    color:  #ffffff;

}

/*projeto c++ TITULO FIM..*/



/*projetos c++ container*/

#projeto-cmm{

    margin-top: 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    
    border-left: 2px solid  #659bd3;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid  #659bd3;
    border-bottom: 2px solid   #ffffff;
}


#cardcmm1,#cardcmm2,#cardcmm3,#cardcmm4{
    
    height:310px;
    width: 210px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: #0c0c0c;
    cursor: pointer;


    border-left: 2px solid  #659bd3;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid    #659bd3;
    border-bottom: 2px solid    #ffffff;
}

/*projetos c++ container FIM*/






/*projeto em C# TITULO..*/

.projetos-csharp-h2-container{
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top:-53px;
}

.projetos-csharp-h2{
    background: #000;
    width: 270px;
    border-radius:4px;


    border-left: 2px solid     #641c84;
    border-right: 2px solid #ffffff;
    border-top: 2px solid      #641c84;
    border-bottom: 2px solid #ffffff;  
    color:  #641c84;
}

#csharp{
    color:  #ffffff;

}

/*projeto em C# TITULO FIM..*/



/*projetos em C# container*/

#projeto-csharp{

    margin-top: 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 0%;
    
    
    border-left: 2px solid  #641c84;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid  #641c84;
    border-bottom: 2px solid   #ffffff;
}


#cardcsharp1{
    
    height:180px;
    width: 340px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color:#efedf0;
    cursor: pointer;
    padding: -20px;


    border-left: 2px solid  #641c84;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid    #641c84;
    border-bottom: 2px solid    #ffffff;
}

#cardcsharp2{

    height:180px;
    width: 350px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(24, 27, 46);
    cursor: pointer;


    border-left: 2px solid  #641c84;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid    #641c84;
    border-bottom: 2px solid    #ffffff;

}


#cardcsharp3{

    height:200px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: -30px;
    margin-left:auto;
    margin-right:auto;
    background-color: #085ec9;
    cursor: pointer;


    border-left: 2px solid  #641c84;
    border-right: 2px solid    #ffffff;
    border-top: 2px solid    #641c84;
    border-bottom: 2px solid    #ffffff;

}

/*projetos em C# container FIM*/

/*foooter Começo */

#footer{
    margin-top:200px ;
    border-top: 3px solid rgba(11, 11, 234, 0.3);

  
    height: 300px;
    
   
    
    cursor: pointer;
     
   
    }


#iconegit,#iconewhats,#iconelinkd{

    font-size: 40px;
   
  
 
    
    
    
}

#iconegit1,#iconewhats1,#iconelinkd1{
    
    margin-bottom: 20px;
   
    
}

    
/*foooter FIM */

.clique{
    opacity:0;
    color: gray;
}

/*RESPOSIVO 800PX  MEDIO */
@media screen and (max-width:900px){

    
    .md8{
        transform:translate(250%, -900%);
    }
    .md6{
        transform: translate(250%, -300%);
    }
    .md5{
        transform: translate(250%, 280%);
    }
    .md7{
        transform:translate(250%, 950%);
    } 
    .md9{
        transform:translate(110%,-1250%);
    }


    .me8{
        transform:translate(-350%, -900%);
    }
    .me9{
        transform: translate(-350%, -300%);
    }
    .me5{
        transform: translate(-350%, 280%);
    }
    .me7{
        transform:translate(-350%, 950%);
    }
    .me6{
        transform:translate(-210%,-1250%);
    }

    
    #cardh1,#cardh2,#cardh3,#cardh4{
        width: 400px;
        height: 500px;
        
        
    }
    
    #cardj1,#cardj2,#cardj3,#cardj4{
        width: 400px;
        height: 500px;
        
    }
    
    
    #carda1,#carda2,#carda3,#carda4{
        width: 400px;
        height: 500px;
        
    }

    
    #cardp1,#cardp2,#cardp3,#cardp4{
        width: 400px;
        height: 500px;
        
    }
    
    
    #cardcm1,#cardcm2,#cardcm3,#cardcm4{
        width: 400px;
        height: 500px;
        
    }

    
    #cardcmm1,#cardcmm2,#cardcmm3,#cardcmm4{
        width: 400px;
        height: 500px;
        
    }
    
    .clique{
        opacity: 0.2;
        margin-top: 20px;
        margin-bottom:-30px;
        font-size: 30px;
    }

    .clique:hover{
        
        cursor: pointer;
        opacity: 0.8;
        transition:ease-out 0.5s;
    }

}

/*RESPOSIVO 600PX PEQUENO */

@media screen and (max-width:600px){

    #home{
        
        
        height: 500px;   
    }
    #h2{
        font-size:58px ;
    }

    .menu-btn{
        width:150px ;
        height: 150px;

    }
    
    .md1{
        transform:translate(90%, -70%);
    }
    .md3{
        transform: translate(70%, 300%);
    }
    .md4{
        transform: translate(70%, -400%);
    }
    .me1{
        transform:translate(-190%, -70%);
    }
    .me3{
        transform: translate(-170%, 300%);
    }
    .me4{
        transform: translate(-170%, -400%);
    }

    #projeto-html{
        padding-left: 8%;
        padding-right: 0%;
    }

    #cardh1,#cardh2,#cardh3,#cardh4{
        width: 400px;
        height: 500px;
        
    }
    
    #projeto-javascript{
        padding-left: 8%;
        padding-right: 0%;
    }
    
    #cardj1,#cardj2,#cardj3,#cardj4{
        width: 400px;
        height: 500px;
        
    }
    
    #projeto-android{
        padding-left: 8%;
        padding-right: 0%;
    }
    
    #carda1,#carda2,#carda3,#carda4{
        width: 400px;
        height: 500px;
        
    }
    
    #projeto-python{
        padding-left: 8%;
        padding-right: 0%;
    }
    
    #cardp1,#cardp2,#cardp3,#cardp4{
        width: 400px;
        height: 500px;
        
    }
    
    #projeto-cm{
        padding-left: 8%;
        padding-right: 0%;
    }
    
    #cardcm1,#cardcm2,#cardcm3,#cardcm4{
        width: 400px;
        height: 500px;
        
    }

    #projeto-cmm{
        padding-left: 8%;
        padding-right: 0%;
    }
    
    #cardcmm1,#cardcmm2,#cardcmm3,#cardcmm4{
        width: 400px;
        height: 500px;
        
    }
   
   
  
}




/*animação de aparecimento */

.aparecimentotipo1{
    opacity: 0;
    filter: blur(7px);
    transform: translateX(-100%);
    transition:ease-out 0.6s;
}


    
.aparecimentotipo1x{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.aparecimentotipo2{
    opacity: 0;
    filter: blur(7px);
    transform: translateX(100%);
    transition:ease-out 0.6s;
}


    
.aparecimentotipo2x{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

/*animação de aparecimento FIM */








/*hexagono*/




        /* animação letras*/

@keyframes animateletra{
    
    0%,10%,100%
    {
        width:0;
        z-index: 1000;
    }
    
    
    70%,90%
    { 
        width: 100%;
        z-index: 1000;
    }
}


        /* animação rain    */

ii{
position: absolute;
height: 300px;
background:linear-gradient(transparent, #fff) ;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
z-index:-100 ;
animation: animate 4000s linear infinite ;
}
ii:nth-child(6n+1)
{
background:linear-gradient(transparent,#0ff) ;
}
ii:nth-child(6n+2){
background:linear-gradient(transparent,#0f0) ;
}
ii:nth-child(6n+3){
background:linear-gradient(transparent,blue);
}
ii:nth-child(6n+4){
    background:linear-gradient(transparent,yellow);
}
ii:nth-child(6n+5){
    background:linear-gradient(transparent,#ed30cf);
}

@keyframes animate{

    0%
    {
    transform:translateY(-6000px);
    z-index: 2;
    }

    100%{
    transform:translateY(calc(700px));
    z-index: 2;
    }
}
